@import 'src/assets/styles/mixins.scss';

.footer {
  max-width: rem(1560);
  margin: 0 auto;
}

.inner {
  padding: $margin-padding*2;
  margin: 0 $margin-padding*2 0;
  border-radius: 5px 5px 0 0;
  color: $text-darken-more;
  background: $gray-border;

  @media (max-width: $sm-max-width) {
    margin: 0 $margin-padding !important;
  }
}

.bottom {
  border-top: 1px solid $gray;
  padding-top: $margin-padding*2;
  margin-top: $margin-padding;
}

.copyright {
  float: right;
  position: relative;

  @media (max-width: $xs-max-width) {
    margin-top: $margin-padding*2;
    float: none;
  }

  img {
    float: left;
    width: 30px;
    position: absolute;
    top: 6px;
  }
  span {
    display: block;
    margin-left: $margin-padding*4;
  }
}
