@import 'src/assets/styles/mixins.scss';

.breadcrumbs {
  padding: $margin-padding $margin-padding*2;
  background-color: $white;
  border-bottom: 1px solid $gray-border;
}

.path {
  font-size: rem(18);
  color: $black;
}

.arrow {
  display: inline-block;
  margin: 0 $margin-padding;
  &:after {
    display: inline-block;
    content: '·';
  }
}