<ng-container *ngIf="filters">
    <form nz-form [formGroup]="searchForm" class="ant-advanced-search-form" xmlns="http://www.w3.org/1999/html">
        <nz-collapse>
            <nz-collapse-panel [nzHeader]="'Filtres'" [nzActive]="unfolded">
                <div nz-row [nzGutter]="24">
                    <ng-container *ngIf="filtersSize === 'big'; else normalSize">
                        <div nz-col [nzSpan]="12" *ngFor="let filter of filters">
                            <nz-form-item nzFlex>
                                <ng-container *ngIf="filter.size === 'big'; else nSize">
                                    <nz-form-label [nzSm]="8">{{ filter.label }}</nz-form-label>
                                    <nz-form-control [nzSm]="16">
                                        <input *ngIf="filter.type === undefined" nz-input [formControlName]="filter.id" [attr.id]="filter.id" />
                                        <nz-radio-group *ngIf="filter.type === 'radio'" [formControlName]="filter.id">
                                            <label nz-radio nzValue="true">Oui</label>
                                            <label nz-radio nzValue="false">Non</label>
                                        </nz-radio-group>
                                        <nz-select nzShowSearch nzAllowClear [nzAllowClear]="true" *ngIf="filter.type === 'list'" [formControlName]="filter.id">
                                            <nz-option *ngFor="let choice of filter.choices" [nzValue]="choice.value" [nzLabel]="choice.label"></nz-option>
                                        </nz-select>
                                        <app-browser-datepicker *ngIf="filter.type === 'date'" [formControlName]="filter.id" max="31/12/2100"></app-browser-datepicker>
                                        <ng-container *ngIf="filter.type === 'date_range'">
                                            <app-browser-datepicker placeholder="Entre le" [formControlName]="filter.id + '_start'" max="31/12/2100"></app-browser-datepicker>
                                            <app-browser-datepicker placeholder="et le" [formControlName]="filter.id + '_end'" max="31/12/2100"></app-browser-datepicker>
                                        </ng-container>
                                    </nz-form-control>
                                </ng-container>
                                <ng-template #nSize>
                                    <nz-form-label [nzSm]="8">{{ filter.label }}</nz-form-label>
                                    <nz-form-control [nzSm]="16">
                                        <input *ngIf="filter.type === undefined" nz-input [formControlName]="filter.id" [attr.id]="filter.id" />
                                        <nz-radio-group *ngIf="filter.type === 'radio'" [formControlName]="filter.id">
                                            <label nz-radio nzValue="true">Oui</label>
                                            <label nz-radio nzValue="false">Non</label>
                                        </nz-radio-group>
                                        <nz-select nzShowSearch nzAllowClear [nzAllowClear]="true" *ngIf="filter.type === 'list'" [formControlName]="filter.id">
                                            <nz-option *ngFor="let choice of filter.choices" [nzValue]="choice.value" [nzLabel]="choice.label"></nz-option>
                                        </nz-select>
                                        <app-browser-datepicker *ngIf="filter.type === 'date'" [formControlName]="filter.id" max="31/12/2100"></app-browser-datepicker>
                                        <ng-container *ngIf="filter.type === 'date_range'">
                                            <app-browser-datepicker placeholder="Entre le" [formControlName]="filter.id + '_start'" max="31/12/2100"></app-browser-datepicker>
                                            <app-browser-datepicker placeholder="et le" [formControlName]="filter.id + '_end'" max="31/12/2100"></app-browser-datepicker>
                                        </ng-container>
                                    </nz-form-control>
                                </ng-template>  
                            </nz-form-item>
                        </div>
                    </ng-container>
                    <ng-template #normalSize>
                        <div nz-col [nzSpan]="8" *ngFor="let filter of filters">
                            <nz-form-item nzFlex>
                                <nz-form-label [nzSm]="8">{{ filter.label }}</nz-form-label>
                                <nz-form-control [nzSm]="16">
                                    <input *ngIf="filter.type === undefined" nz-input [formControlName]="filter.id" [attr.id]="filter.id" />
                                    <nz-radio-group *ngIf="filter.type === 'radio'" [formControlName]="filter.id">
                                        <label nz-radio nzValue="true">Oui</label>
                                        <label nz-radio nzValue="false">Non</label>
                                    </nz-radio-group>
                                    <nz-select nzShowSearch nzAllowClear [nzAllowClear]="true" *ngIf="filter.type === 'list'" [formControlName]="filter.id">
                                        <nz-option *ngFor="let choice of filter.choices" [nzValue]="choice.value" [nzLabel]="choice.label"></nz-option>
                                    </nz-select>
                                    <app-browser-datepicker *ngIf="filter.type === 'date'" [formControlName]="filter.id" max="31/12/2100"></app-browser-datepicker>
                                    <ng-container *ngIf="filter.type === 'date_range'">
                                        <app-browser-datepicker placeholder="Entre le" [formControlName]="filter.id + '_start'" max="31/12/2100"></app-browser-datepicker>
                                        <app-browser-datepicker placeholder="et le" [formControlName]="filter.id + '_end'" max="31/12/2100"></app-browser-datepicker>
                                    </ng-container>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </ng-template>
                </div>
                <div nz-row class="text-right">
                    <div nz-col [nzSpan]="24">
                        <ng-container *ngIf="filterButtons">
                            <button-default *ngFor="let filterButton of filterButtons" [ngValue]="filterButton.value"
                                (click)="filterButton.action()"></button-default>
                        </ng-container>
                        <button-default [ngValue]="'Remise à blanc'" (click)="resetForm()"></button-default>
                        <button-primary [ngValue]="'Rechercher'" (click)="searchData(true)"></button-primary>
                        <ng-container [ngTemplateOutlet]="filterButtonTemplate"></ng-container>
                    </div>
                </div>
            </nz-collapse-panel>
        </nz-collapse>
    </form>
</ng-container>

<nz-table #dataTable nzSize="middle" nzShowSizeChanger [nzFrontPagination]="false" [nzData]="data" [nzLoading]="loading"
    [nzTotal]="total" [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize" (nzPageIndexChange)="searchData()"
    (nzPageSizeChange)="searchData(true)" [nzSimple]="false" [nzPageSizeOptions]="[20,25,50,100]"
    [nzNoResult]="messageNoResultat">
    <thead (nzSortOrderChange)="sort($event)">
        <tr>
            <ng-container *ngFor="let column of displayedColumns">
                <th *ngIf="column.type !== 'hidden'" [nzShowSort]="column.sortable ? '' : null"
                    [nzColumnKey]="column.sortable ? column.id : null">{{column.label}}</th>
            </ng-container>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of dataTable.data">
            <ng-container *ngFor="let column of displayedColumns">
                <td *ngIf="column.id === 'actions' || column.id === 'method'; else elseBlock">
                    <ng-container *ngIf="column.id === 'actions'">
                        <div *ngIf="column.displayFunction===undefined ? true:displayAction(column.displayFunction, data[column.condition])">
                            <button-primary [ngValue]="a.name" *ngFor="let a of column.targets" [routerLink]="[a.path, data.id]"></button-primary>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="column.id === 'method'">
                        <button-primary [ngValue]="test" (click)="column.method"></button-primary>
                    </ng-container>
                </td>
                
                <ng-template #elseBlock>
                    <td *ngIf="column.type === 'prise_rdv' && data[column.id] !== ''">{{data[column.id]}}</td>
                    <td *ngIf="column.type === 'prise_rdv' && data[column.id] === ''">Non ouverte</td>
                    <td *ngIf="column.type === 'boolean-actif'">{{data[column.id] | booleanActif}}</td>
                    <td *ngIf="column.type === 'boolean'">{{data[column.id] | boolean}}</td>
                    <td *ngIf="column.type === 'date'">{{data[column.id] | date:'dd/MM/yyyy' : 'UTC'}}</td>
                    <td *ngIf="column.type === 'dateheure'">{{data[column.id] | date:'dd/MM/yyyy HH:mm': 'UTC'}}</td>
                    <td *ngIf="column.type === 'heure'">{{data[column.id] | date:'HH:mm': 'UTC'}}</td>

                    <ng-container *ngIf="column.type === 'min-between-now'">
                        <td *ngIf="getMinBetweenNow(data[column.id]) < 15">
                            {{getMinBetweenNow(data[column.id])}} min
                        </td>
                        <td *ngIf="getMinBetweenNow(data[column.id]) >= 15 && getMinBetweenNow(data[column.id]) < 20" [style.background]="'#FDC375'">
                            {{getMinBetweenNow(data[column.id])}} min
                        </td>
                        <td *ngIf="getMinBetweenNow(data[column.id]) >= 20" [style.background]="'#C92D39'">
                            {{getMinBetweenNow(data[column.id])}} min
                        </td>
                    </ng-container>
                    
                    <td *ngIf="column.type === 'join-number'">{{data[column.id] ? data[column.id][column.joinKey] : ''}}
                    </td>
                    <td *ngIf="column.type === 'join-string'">
                        <ng-container *ngIf="column.id === 'type_bilan'; else notTypeBilan">
                            <ng-container *ngIf="data[column.id]; else inconnuRed">
                                {{data[column.id][column.joinKey]}}
                            </ng-container>
                            <ng-template #inconnuRed>
                                <span style="color: red;">Inconnu</span>
                            </ng-template>
                        </ng-container>
                        <ng-template #notTypeBilan>
                            {{data[column.id] ? data[column.id][column.joinKey] : ''}}
                        </ng-template>
                    </td>
                    <td *ngIf="column.type === 'join-other'">{{data[column.id] ? data[column.id][column.joinKey] : ''}}
                    </td>
                    <td *ngIf="column.type === 'join-user' && data[column.id] == null"></td>
                    <td *ngIf="column.type === 'join-user' && data[column.id] != null">
                        {{data[column.id][column.joinKeyPrenom]}} {{data[column.id][column.joinKeyNom]}}
                    </td>

                    <ng-container *ngIf="column.type === 'multiple-keys' && column.subType == null">
                        <ng-container *ngIf="column.conditionColor !== undefined && getConditionColor(column.conditionColor, getMultipleKeys(column, data)) !== null; else noColorNull">
                            <td [style.background]="getConditionColor(column.conditionColor, getMultipleKeys(column, data))">
                                {{getMultipleKeys(column, data)}}
                            </td>
                        </ng-container>
                        <ng-template #noColorNull>
                            <td>{{getMultipleKeys(column, data)}}</td>
                        </ng-template>
                    </ng-container>
                    
                    <ng-container *ngIf="column.type === 'multiple-keys' && column.subType == 'boolean'">
                        <ng-container *ngIf="column.conditionColor !== undefined && getConditionColor(column.conditionColor, getMultipleKeys(column, data)) !== null; else noColorBool">
                            <td [style.background]="getConditionColor(column.conditionColor, getMultipleKeys(column, data))">
                                {{getMultipleKeys(column, data) | boolean}}
                            </td>
                        </ng-container>
                        <ng-template #noColorBool>
                            <td>{{getMultipleKeys(column, data) | boolean}}</td>
                        </ng-template>
                    </ng-container>
                    
                    <td *ngIf="column.type === 'multiple-keys' && column.subType == 'date'">
                        {{getMultipleKeys(column, data) | date:'dd/MM/yyyy' : 'UTC'}}
                    </td>
                    <td *ngIf="column.type === 'multiple-keys' && column.subType == 'dateheure'">
                        {{getMultipleKeys(column, data) | date:'dd/MM/yyyy HH:mm' : 'UTC'}}
                    </td>
                    <td *ngIf="column.type === 'multiple-keys' && column.subType == 'link'">
                        <span nz-typography>
                            <a href target="_blank" [routerLink]="[column.link.path, getMultipleKeys(column.link, data)]">{{getMultipleKeys(column, data)}}</a>
                        </span>
                    </td>
                    <td *ngIf="column.type === 'downloadImport'">
                        <span *ngIf="data[column.id] != null && data[column.id] != ''" 
                              style="cursor: pointer" 
                              [title]="'Télécharger '+getTitleDownloadImport(data[column.id])"
                              (click)="downloadImport(column.function, data[column.id])"
                        >
                            <i class="icmn-download"></i> {{getTitleDownloadImport(data[column.id])}}
                        </span>
                    </td>

                    <td *ngIf="column.type === 'method'">
                        <button-primary [ngValue]="column.function.text" (click)="method(column.function.method, data[column.id])"></button-primary>
                    </td>

                    <td *ngIf="column.type === 'rdv_action'">
                        {{ data[column.id] ? 'RDV complémentaires' : 'Définir type de bilan' }}
                    </td>
                    <td *ngIf="column.type === undefined">{{data[column.id]}}</td>
                </ng-template>
            </ng-container>
        </tr>
    </tbody>
</nz-table>

<div *ngIf="moreData === 'dossiers'">
    <strong class="nb-dossier">Nombre dossier: {{nbDossier}}</strong>
    <strong class="nb-dossier">Nombre dossier en suivi social: {{nbDossierSuivi}}</strong>
</div>