
<button-default *ngIf="type==='button'; else defaultHitory"  (click)="showChanges(templatechanges)" [ngValue]="titleButton"></button-default>

<ng-template #defaultHitory>
    <i  *ngIf="isAdmin" class="history-icon pull-right" title="historique" nz-icon [nzType]="'history'" (click)="showChanges(templatechanges)"></i>
</ng-template>


<ng-template #templatechanges>
    <p *ngIf="changes.length === 0">Aucune modification</p>

    <nz-table *ngIf="changes.length > 0" #logchanges [nzData]="changes"
              [nzFrontPagination]="false"
              [nzTotal]="total"
              [(nzPageIndex)]="pageIndex"
              [(nzPageSize)]="pageSize"
              (nzPageIndexChange)="searchData()"
              (nzPageSizeChange)="searchData()"
              [nzSimple]="false"
    >
        <thead>
        <tr>
            <th>Date/Heure</th>
            <th>Utilisateur</th>
            <th>Action</th>
            <th>Détails</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let c of logchanges.data">
            <td>le {{c.date_modification | date: 'dd/MM/yyyy':'UTC'}} à {{c.date_modification | date: 'HH:mm:ss':'UTC'}}</td>
            <td>
                <span *ngIf="c.auteur">{{c.auteur.prenom + ' ' + c.auteur.nom}}</span>
                <span *ngIf="c.auteur === null"></span>
            </td>
            <td>
                <span *ngIf="c.type === 'insert'">Création</span>
                <span *ngIf="c.type === 'update' && c.champ === 'password'">Modification du mot de passe</span>
                <span *ngIf="c.type === 'update' && c.champ !== 'password'">Modification</span>
                <span *ngIf="c.type === 'delete'">Suppression</span>
                <span *ngIf="c.type === 'activate'">Activation</span>
                <span *ngIf="c.type === 'disable'">Désactivation</span>
            </td>
            <td>
                {{c.detail_entite ? c.detail_entite + ' ; ' : ''}}<span *ngIf="c.type === 'update' && c.champ !== 'password'">{{'Champ "'+c.champ+'" ; Ancienne valeur : '+c.ancienne_valeur+' ; nouvelle valeur : '+c.nouvelle_valeur}}</span>
            </td>
        </tr>
        </tbody>
    </nz-table>
</ng-template>