<button-default [ngValue]="buttonLabel" (click)="openCloseModal()"></button-default>

<nz-modal [(nzVisible)]="visibleBarCodeModal" nzTitle="{{titleLabel}}" (nzOnCancel)="openCloseModal()">
    <div *nzModalContent style="text-align: center; width: 100%; ">
        <ngx-barcode [bc-width]="3" [bc-value]="codeBarValue" [bc-display-value]="true"></ngx-barcode>
    </div>
    <div *nzModalFooter>
        <button-primary ngValue="Fermer" (click)="openCloseModal()"></button-primary>
    </div>
</nz-modal>