@import 'src/assets/styles/mixins.scss';

.logo {
  background-color: $white;
}

.ant-menu {
  background-color: $menuBg;
  min-height: 100vh;
}

.navigation {
  ::ng-deep {
    .ant-menu {
      .ant-menu-sub {
        &.ant-menu-inline {
          background-color: $menuBg;
        }
      }

      .ant-menu-submenu {
        &:first-child {
          > .ant-menu-submenu-title {
            margin-top: 0;
          }
        }
      }
    }
  }
}

.ant-menu-item > span {
  white-space: normal;
  display: block;
}

.ant-menu-inline .ant-menu-item {
  height: auto;
  line-height: normal;
  padding-top: $margin-padding;
  padding-bottom: $margin-padding;
}


//.scrollbarDesktop[_ngcontent-c4] {
//  height: calc(100vh - 40px) !important;
//}
