@import 'src/assets/styles/mixins.scss';

.description {
  font-size: 12px;
  margin-bottom: $margin-padding*2;
  color: $text-lighten;
}

.item {
  margin-bottom: $margin-padding;
}

.itemLabel {
  position: relative;
  top: 2px;
  margin-left: $margin-padding;
}
