@import 'src/assets/styles/mixins.scss';

.orange {
  color: orange;
  cursor: pointer;
}

.bold {
  font-weight:bold;
}

.italic {
  font-style: italic;
}

.border-right {
  border-right: #e8e8e8;
}

nz-alert {
  margin-bottom: $margin-padding;
}